<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <main>
                <section class="oferta">
                    <a href="/productDetail"><img src="images/oferta.jpg" alt="oferta">
                </section></a>
                <h2>Más Vendidos</h2>
                <section class="mas-vendidos">
                    <div>
                        <img src="http://www.fillmurray.com/300/300" alt="">
                        <h4>Libro 1</h4>
                        <p>$precio</p>
                        <button>Comprar</button>
                    </div>
                    <div>
                        <img src="http://www.fillmurray.com/300/300" alt="">
                        <h4>Libro 2</h4>
                        <p>$precio</p>
                        <button>Comprar</button>
                    </div>
                    <div>
                        <img src="http://www.fillmurray.com/300/300" alt="">
                        <h4>Libro 3</h4>
                        <p>$precio</p>
                        <button>Comprar</button>
                    </div>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>
    </body>