<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/00d696814b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />

    <title>Librería G10</title>
</head>

<body>
    <header class="header">
        <div id="top-search">
            <form action="/unknown" method="post">
                <input id="busqueda" type="text" id="search" value="search" placeholder="Busqueda por autor, título o editorial" name="busqueda">
                <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-solid fa-user-large"></i></a>
            </form>

        </div>
        <div id="main-nav">
            <div id="main-nav-menu">
                <span class="menu-item"><a href="">NOSOTROS</a></span>
                <span class="menu-item"><a href="/productDetail">PRODUCTOS</a></span>
                <span class="menu-item-logo"><a href="/"><img id="logo" src="/images/logo.png" alt="spanbronspanne"></a></span>
                <span class="menu-item"><a href="">CONTACTO</a></span>
                <span class="menu-item"><a href="">ENVIOS</a></span>
            </div>
        </div>

        </div>
    </header>


    <main>
        <section class="oferta">
        <a href="/productDetail"><img src="images/oferta.jpg" alt="oferta"></section></a>
        <h2>Más Vendidos</h2>
        <section class="mas-vendidos">
            <div>
                <img src="http://www.fillmurray.com/300/300" alt="">
                <h4>Libro 1</h4>
                <p>$precio</p>
                <button>Comprar</button>
            </div>
            <div>
                <img src="http://www.fillmurray.com/300/300" alt="">
                <h4>Libro 2</h4>
                <p>$precio</p>
                <button>Comprar</button>
            </div>
            <div>
                <img src="http://www.fillmurray.com/300/300" alt="">
                <h4>Libro 3</h4>
                <p>$precio</p>
                <button>Comprar</button>
            </div>
        </section>
    </main>

    <footer>
        <article class="small-footer">
            <ul>
                <a href="#"><li>PRODUCTOS</li></a>
                <a href="#"><li>CONTACTO</li></a>
                <a href="#"><li>BLOG</li></a>
            </ul>
        </article>
        <article class="small-footer">
            <ul>
                <a href="#"><li>OFERTAS</li></a>
                <a href="#"><li>ENVIOS</li></a>
                <a href="#"><li>TÉRMINOS</li></a>
            </ul>
        </article>
        <article class="small-footer-spacer">

        </article>
        <article class="big-footer">
            <!-- <div class="social-subscribe"> -->
                <h4>Mantenete al tanto</h4>
                <section class="footer-social">
                    <a href="//"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="//"><i class="fa-brands fa-instagram"></i></a>
                    <a href="//"><i class="fa-brands fa-twitter"></i></a>
                    <a href="//"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="//"><i class="fa-brands fa-youtube"></i></a>
                </section>
                <div id="suscribite">
                    <input type="email" id="email" name="foto-usuario" placeholder="Correo electrónico">
                    <input type="button" id="subscribir" name="subscribir" value="Unite">
                </div>
            <!-- </div> -->
        </article>
        <article class="copyright">
            <p id="copyright">© 2022 Librería G10</p>
        </article>
    </footer>
</body>