<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/00d696814b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />

    <title>Librería G10</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <div id="user-form">
                <h3>Iniciá sesión</h3>
                <form action="/unknown" method="post">
                    <input type="email" id="email" name="email" placeholder="Correo electrónico">
                    <input type="password" name="password" id="password1" placeholder="Contraseña">
                    <a href="/register">¿Olvidaste tu contraseña?</a>
                    <button type="button" class="submit">Enviar</button>
                    <a id="crear-cuenta" href="/users/register">Creá tu cuenta</a>
                </form>
            </div>
        </main>
        <%- include('partials/footer.ejs') %>
</body>

</html>