<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div id="user-form">
                    <h3>Inicia sesión</h3>

                    <% if (typeof errors !='undefined' ) { %>
                        <p style="color: red"> Errores: </p>
                        <ul>
                            <% for (let i=0; i< errors.length;i++){%>
                                <li>
                                    <%= errors[i].msg %>
                                </li>
                                <%} %>
                        </ul>
                        <% } %>

                            <form action="/users/login" method="POST">
                                <input type="email" name="email" id="email" placeholder="Correo electrónico">
                                <input type="password" name="password" id="password" placeholder="Contraseña">


                                <a href="/register">¿Olvidaste tu contraseña?</a>

                                <button type="submit" class="submit">Enviar</button>

                                <a id="crear-cuenta" href="/users/register">Creá tu cuenta</a>
                            </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>