<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div id="user-form">
                    <h3>Cre치 tu cuenta</h3>
                    <form id="register-form" action="/users/" method="post">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                        <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                        <input type="email" id="user-email" name="email" placeholder="Correo electr칩nico">
                        <input type="file" id="user-foto" name="foto" accept="image/*">
                        <input type="password" name="password" id="password" placeholder="Contrase침a">
                        <input type="password" id="password1" placeholder="Confirmar contrase침a">
                        <button type="submit" class="submit">Enviar</button>
                        <button type="reset" class="reset">Borrar</button>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>