<footer>
    <article class="small-footer">
        <ul>
            <a href="#">
                <li>PRODUCTOS</li>
            </a>
            <a href="#">
                <li>CONTACTO</li>
            </a>
            <a href="#">
                <li>BLOG</li>
            </a>
        </ul>
    </article>
    <article class="small-footer">
        <ul>
            <a href="#">
                <li>OFERTAS</li>
            </a>
            <a href="#">
                <li>ENVIOS</li>
            </a>
            <a href="#">
                <li>TÉRMINOS</li>
            </a>
        </ul>
    </article>
    <article class="small-footer-spacer">

    </article>
    <article class="big-footer">
        <!-- <div class="social-subscribe"> -->
        <h4>Mantenete al tanto</h4>
        <section class="footer-social">
            <a href="//"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="//"><i class="fa-brands fa-instagram"></i></a>
            <a href="//"><i class="fa-brands fa-twitter"></i></a>
            <a href="//"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="//"><i class="fa-brands fa-youtube"></i></a>
        </section>
        <div id="suscribite">
            <input type="email" id="email" name="foto-usuario" placeholder="Correo electrónico">
            <input type="button" id="subscribir" name="subscribir" value="Unite">
        </div>
        <!-- </div> -->
    </article>
    <article class="copyright">
        <p id="copyright">© 2022 Librería G10</p>
    </article>
</footer>