<header class="header">
    <div id="top-search">
        <form action="/unknown" method="post">
            <input id="busqueda" type="text" id="search" value="search"
                placeholder="Busqueda por autor, título o editorial" name="busqueda">
            <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/users/login"><i class="fa-solid fa-user-large"></i></a>
        </form>

    </div>
    <div id="main-nav">
        <div id="main-nav-menu">
            <span class="menu-item"><a href="/">NOSOTROS</a></span>
            <span class="menu-item"><a href="/product/productDetail">PRODUCTOS</a></span>
            <span class="menu-item-logo"><a href="/"><img id="logo" src="/images/logo.png"
                        alt="spanbronspanne"></a></span>
            <span class="menu-item"><a href="">CONTACTO</a></span>
            <span class="menu-item"><a href="">ENVIOS</a></span>
        </div>
    </div>
</header>