#user-form {
    width: 60%;
    margin: auto;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#user-form form label, #user-form form input {
    width: 100%;
}

#user-form form input {
    border: solid 1px #005099;
    margin: .5rem;
    background-color: white;
    line-height: 2;
    color: #005099;
    padding: .5rem;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #005099;
    opacity: 1; /* Firefox */
  }

  #user-form button {
      width: 45%;
      font-weight: 900;
      font-size: 1rem;
      padding: .5rem;
      box-sizing: border-box;
      text-align:  center; 
      margin: 1rem .5rem 1rem .5rem;
}

#user-form button {
      width: 45%;
      font-weight: 900;
      font-size: 1rem;
      padding: .5rem;
      box-sizing: border-box;
      text-align:  center; 
      margin: 2rem auto 2rem auto;
}

#user-form a {
    width: 100%;
    line-height: .8;
    font-size: .8rem;
    font-weight: 600;
    margin: .3rem auto auto .625rem;
    color: #005099;
    text-decoration:underline #91dfb9;
    transition: all .5s;
}

#user-form a:hover {
    color: #91dfb9;
    text-decoration: underline #005099;

}

button[type="button"], button[type="reset"]:hover, #comprar,  #cupon-aplicar{
    background-color: #005099;
    border: solid 1px #005099;
    color: white;
    transition: all .5s;
}

button[type="reset"], button[type="button"]:hover, #comprar:hover,  #cupon-aplicar:hover {
    background-color: white;
    border: solid 1px #005099;
    color: #005099;
    transition: all .5s;
}

#user-form button:hover {
    border: solid 1px #005099;
}



h3 {
    color: #005099;
}

#crear-cuenta {
    text-align: center;
    margin-bottom: 2rem;
}