.contenedor-editar-producto {
    width: 80%;
    margin: auto;
}

.titulo-editar-producto, .titulo-autor-producto, .caracteristicas-editar-producto div p, .resenia-editar-producto, .detalles-editar-producto {
    border: solid 1px #eee;
    padding: .5rem;
}

.titulo-editar-producto {
    font-size: 2rem;
}

.imagen-detalles-editar-producto {
    display: flex;
    padding: 50px 0;
}

.imagen-editar-producto, .informacion-editar-producto {
    width: 50%;
}

.titulo-autor-producto {
    margin: 0;
}

.caracteristicas-editar-producto {
    display: flex;
    flex-wrap: wrap;
}

.caracteristicas-editar-producto div {
    width: 50%;
}

.resenia-editar-producto {
    margin-bottom: 16px;
}
