/* Estilos generales */

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-weight: 900;
    font-size: 3rem
}

h4 {
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
}

body {
    margin: 0px;
}

input {
    outline: none;
}

/* Home */

.oferta img {
    width: 100%;
}

main h2 {
    margin-left: 5%;
}

.mas-vendidos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mas-vendidos div {
    margin-bottom: 50px;
}

.mas-vendidos button {
    display: flex;
    margin: auto;
}


.agregar-genero {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}

.botones_editar_borrar {
    display: flex;
}

.boton_editar {
    display: flex;
    align-items: flex-start;
}

.boton_borrar {
    display: flex;
    align-items: flex-start;
}

.products-title{
    margin: 5%;
}