/* Estilos generales */

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-weight: 900;
    font-size: 3rem
}

h4 {
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
}

body {
    margin: 0px;
}

input {
    outline: none;
}

/* Home */

.oferta img {
    width: 100%;
}

main h2 {
    margin-left: 80px;
}

.mas-vendidos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.mas-vendidos button {
    display: flex;
    margin: auto;
}

/* Estilos de carrito */

/* Organizacion del div principal */
.main-carrito {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.tabla-carrito {
    width: 100%;
}

.total-carrito {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    justify-self: flex-end;
}

.tabla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    border: solid 2px #91dfb9;
    margin: .5rem;
}
.tabla .producto {
    align-self: center;
}

/* .producto {
    width: 20%;
} */

.foto, .titulo {
    width: 50%;
}
.foto img {
    width: 50px;
}

.precio {
    display: none;
}

.cantidad.producto {
    border: solid 1px #000;
    padding: .2rem;
    margin: .2rem;
}

.encabezado, .producto {
    font-size: .9rem;
    padding: .5rem;
    text-align: center;
}

.encabezado .encabezado {
    font-weight: 600;
    align-self: center;
    font-size: .6rem;
    width: 20%;
}


/* Estilos del Resumen de compra */
.cupon-descuento {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

#cupon {
    width: 60%;
}

#cupon-aplicar {
    width: 30%;
}

.total-etiqueta {
    width: 50%;
}

.total-monto {
    width: 40%;
}

.total-carrito div {
    height: 2rem;
}

.total-titulo {
    font-size: 1.2rem;
    font-weight: 700;
}

.total-subtitulo, .total-etiqueta, .total-monto {
    font-size: 1rem;
    font-weight: 600;
}

.producto+.titulo {
    font-size: .8rem;
    font-weight: 600;
}


/* Reglas para desktop */

@media (min-width: 950px) {
    .tabla-carrito {
        width: 70%;
        padding: 1rem;

    }
    
    .total-carrito {
        width: 30%;
    }
    .encabezado .encabezado {
        font-weight: 600;
        align-self: center;
        line-height: 3rem;
        font-size: 1rem;
        width: 20%;
    }

    .tabla {
        flex-wrap: nowrap;
    }

    .producto {
        width: 20%;
    }
    .foto img {
        width: 50px;
    }

    .precio {
        display: block;
    }
}