<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Bienvenides a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/16d126ad0c.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="contenedor-encabezado">
        </div>

        <nav class="contenedor-formato-menu">
            <ul class="formato-menu-derecha" type="disc">
                <li><a href="/productDetail">Detalle del producto</a></li>
            </ul>
        </nav>

    </header>


    <main>
    </main>

    <footer>
        <div class="alineacion-footer">
        </div>

    </footer>
</body>