<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Bienvenides a Libreria G10</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/16d126ad0c.js" crossorigin="anonymous"></script>
    <link href="css/productDetail.css" rel="stylesheet" />
    <link href="css/footer.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
    </head>

    <body>
        <header class="header">
            <div id="top-search">
                <form action="/unknown" method="post">
                    <input id="busqueda" type="text" id="search" value="search" placeholder="Busqueda por autor, título o editorial" name="busqueda">
                    <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="/login"><i class="fa-solid fa-user-large"></i></a>
                </form>
            </div>
            <div id="main-nav">
                <div id="main-nav-menu">
                    <span class="menu-item"><a href="">NOSOTROS</a></span>
                    <span class="menu-item"><a href="/productDetail">PRODUCTOS</a></span>
                    <span class="menu-item-logo"><a href="/"><img id="logo" src="/images/logo.png" alt="spanbronspanne"></a></span>
                    <span class="menu-item"><a href="">CONTACTO</a></span>
                    <span class="menu-item"><a href="">ENVIOS</a></span>
                </div>
            </div>

        </header>

        <main>
            <div class="contenedor-libro-seleccionado">
                <div class="contenedor-imagen-libro-seleccionado">
                    <img class="imagen-libro" src="/images/img-sacheri_los_dias_de_la_revolucion.jpg"
                        alt=" imágen de libro Los días de la revolución, de Sacheri">
                </div>

                <div class="contenedor-detalles-libro-seleccionado">
                    <div class="contenedor-detalle-libro">
                        <h3 class="nombre-libro">LOS DÍAS DE LA REVOLUCIÓN</h3>
                        <div class="autor-libro-seleccionado">EDUARDO SACHERI </div>
                        <div class="editorial-libro">Alfaguara</div>
                        <div class="anio-edicion"><strong>2022</strong> </div>
                        <p class="precio-libro-seleccionado">$2.499 </p>
                        <div class="contenedor-cant-button">
                            <div class="contenedor-cantidad">
                                <label for="cant">Cant:</label>
                                <div class="contador">
                                    <div id="modificador">
                                        <span>-</span>
                                    </div>
                                    <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Cant."
                                        class="input-text qty">
                                    <div id="modificador">
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="agregar-carrito">
                                <button type="button-comprar" title="Comprar"
                                    class="button btn-cart"><span>Comprar</span></button>
                            </div>
                        </div>
                        <br>
                        <div>
                            <h4>Reseña</h4>
                        </div>
                        <p class="overflow-ellipsis">"Una historia de Argentina... cuando no era Argentina.
                            En Los días de la
                            Revolución,
                            mi primer libro de Historia, vas a encontrarte con una posible explicación del proceso
                            revolucionario que sacude y derrumba el Virreinato del Río de la Plata entre 1806 y
                            1820. La
                            Argentina no "nace" automáticamente de ese proceso. Al contrario: es producto de una
                            larga,
                            accidentada y compleja evolución. Pero es cierto que algunas de las claves de esa
                            construcción
                            hunden sus raíces en esos tiempos revolucionarios, en esas personas, en esas
                            circunstancias
                            y en
                            esas peripecias. Y aquellos años de principios del siglo XIX, cuando el Imperio Español
                            estalla
                            en pedazos, habitan también en nosotros, en lo que somos en el siglo XXI. Este libro es
                            una
                            invitación a explorar juntos esos vestigios cargados de significado". Eduardo
                            Sacheri.</p>
                        <div>
                            <h4>Detalle del libro</h4>
                        </div>
                        <div class="detalle editorial">Editorial: <strong>Alfaguara</strong></div>
                        <div class="detalle isbn">ISBN: <strong>9789877389258</strong></div>
                        <div class="detalle num-pag">Número de páginas:<strong>288</strong></div>
                        <div class="detalle idioma">Idioma: <strong>ES</strong></div>
                        <div class="detalle clasificacion">Clasificación: <strong>Historia argentina</strong></div>
                        <div class="detalle fecha-publicacion">Fecha de publicación: <strong>01-06-2022</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="contenedor-otros-libros">
                <h4 class=" titulares">Otros usuarios también miraron</h4>
                <section class="contentedor-otros-libros-vistos">
                    <section class="contenedor-libros">
                        <img class="imagen-otros-libros"
                            src="/images/img-covey_los_7_habitos_de_la_gente_altamente_efectiva.jpg"
                            alt=" imágen de libro Los 7 habitos de la gente altamente efectiva, de Covey">
                        <div class="contenedor-descripciones">
                            <p class="precios">$4.622</p>
                            <p class="autor">Stephen R. Covey</p>
                            <h4 class="titulo">Los 7 hábitos de la gente altamente efectiva</h4>
                        </div>
                    </section>
                    <section class="contenedor-libros">
                        <img class="imagen-otros-libros"
                            src="/images/img-goleman_liderazgo_el_poder_de_la_inteligencia_emocional.jpg"
                            alt=" imágen de libro Liderazgo, el poder de la inteligencia emocional, de Goleman">
                        <div class="contenedor-descripciones">
                            <p class="precios">$1.499</p>
                            <p class="autor">Daniel Goleman</p>
                            <h4 class="titulo">Liderazgo, el poder de la inteligencia emocional</h4>
                        </div>
                    </section>
                    <section class="contenedor-libros">
                        <img class="imagen-otros-libros"
                            src="/images/img-sutherland_scrum_el_arte_de_hacer_el_doble.jpg"
                            alt=" imágen de libro Scrum, el arte de hacer el doble, de Sutherland">
                        <div class="contenedor-descripciones">
                            <p class="precios">$1.899</p>
                            <p class="autor">Jeff Sutherland</p>
                            <h4 class="titulo">Scrum, el arte de hacer el doble de trabajo en la mitad de tiempo
                            </h4>
                        </div>
                    </section>
                    <section class="contenedor-libros">
                        <img class="imagen-otros-libros" src="/images/img-sutherland_scrum_manual_de_campo.jpg"
                            alt=" imágen de libro Scrum, manual de campo, de Sutherland ">
                        <div class="contenedor-descripciones">
                            <p class="precios">$2.430</p>
                            <p class="autor">Jeff Sutherland</p>
                            <h4 class="titulo">Scrum, manual de campo</h4>
                        </div>
                    </section>
                </section>
            </div>
        </main>



        <footer>
            <article class="small-footer">
                <ul>
                    <a href="#">
                        <li>PRODUCTOS</li>
                    </a>
                    <a href="#">
                        <li>CONTACTO</li>
                    </a>
                    <a href="#">
                        <li>BLOG</li>
                    </a>
                </ul>
            </article>
            <article class="small-footer">
                <ul>
                    <a href="#">
                        <li>OFERTAS</li>
                    </a>
                    <a href="#">
                        <li>ENVIOS</li>
                    </a>
                    <a href="#">
                        <li>TÉRMINOS</li>
                    </a>
                </ul>
            </article>
            <article class="small-footer-spacer">

            </article>
            <article class="big-footer">
                <!-- <div class="social-subscribe"> -->
                <h4>Mantenete al tanto</h4>
                <section class="footer-social">
                    <a href="//"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="//"><i class="fa-brands fa-instagram"></i></a>
                    <a href="//"><i class="fa-brands fa-twitter"></i></a>
                    <a href="//"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="//"><i class="fa-brands fa-youtube"></i></a>
                </section>
                <div id="suscribite">
                    <input type="email" id="email" name="foto-usuario" placeholder="Correo electrónico">
                    <input type="button" id="subscribir" name="subscribir" value="Unite">
                </div>
                <!-- </div> -->
            </article>
            <article class="copyright">
                <p id="copyright">© 2022 Librería G10</p>
            </article>
        </footer>
    </body>

</html>