<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/00d696814b.js" crossorigin="anonymous"></script>    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />

    <title>Librería G10</title>
</head>

<body>
    <header class="header">
        <div id="top-search">
            <form action="/unknown" method="post">
                <input id="busqueda" type="text" id="search" value="search" placeholder="Busqueda por autor, título o editorial" name="busqueda">
                <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-solid fa-user-large"></i></a>
            </form>

        </div>
        <div id="main-nav">
            <div id="main-nav-menu">
                <span class="menu-item"><a href="">NOSOTROS</a></span>
                <span class="menu-item"><a href="/productDetail">PRODUCTOS</a></span>
                <span class="menu-item-logo"><a href="/"><img id="logo" src="/images/logo.png" alt="spanbronspanne"></a></span>
                <span class="menu-item"><a href="">CONTACTO</a></span>
                <span class="menu-item"><a href="">ENVIOS</a></span>
            </div>
        </div>

        </div>
    </header>
    <main>
    <div class="main-carrito">
        <div class="tabla-carrito">
            <div class="tabla encabezado">
                    <div class="encabezado foto">Portada</div>
                    <div class="encabezado titulo">Título</div>
                    <div class="encabezado precio">Precio</div>
                    <div class="encabezado cantidad">Cantidad</div>
                    <div class="encabezado subtotal">Subtotal</div>
                    <div class="encabezado borrar">Borrar</div>
            </div>
            <div class="tabla fila">
                <div class="producto foto"><img src="/images/img-covey_los_7_habitos_de_la_gente_altamente_efectiva.jpg"></div>
                <div class="producto titulo">Los 7 hábitos de la gente altamente efectiva</div>
                <div class="producto precio">$4,622</div>
                <div class="producto cantidad">1</div>
                <div class="producto subtotal">$4,622</div>
                <div class="producto borrar"><button id="delete"><i class="fa-solid fa-trash-can"></i></button></div>
            </div>
            <div class="tabla fila">
                <div class="producto foto"><img src="/images/img-sutherland_scrum_manual_de_campo.jpg"></div>
                <div class="producto titulo">Scrum, manual de campo</div>
                <div class="producto precio">$2430</div>
                <div class="producto cantidad">1</div>
                <div class="producto subtotal">$2430</div>
                <div class="producto borrar"><button id="delete"><i class="fa-solid fa-trash-can"></i></button></div>
            </div>
            <div class="tabla fila">
                <div class="producto foto"><img src="/images/img-sacheri_los_dias_de_la_revolucion.jpg"></div>
                <div class="producto titulo">Los días de la revolución</div>
                <div class="producto precio">$2,499</div>
                <div class="producto cantidad">1</div>
                <div class="producto subtotal">$2,499</div>
                <div class="producto borrar"><button id="delete"><i class="fa-solid fa-trash-can"></i></button></div>
            </div>
        </div>
        <div class="total-carrito">
            <div class="total-titulo">Resumen de compra</div>
            <div class="total-subtitulo">Cupón de descuento</div>
            <div id="cupon-descuento">
                <input type="text" id="cupon" name="cupon" placeholder="Cupón de descuento">
                <input type="button" id="cupon-aplicar" name="cupon-aplicar" value="Aplicar">
            </div>
            <div class="total-etiqueta">Subtotal</div>
            <div class="total-monto">$9551</div>
            <div class="total-etiqueta">Descuentos</div>
            <div class="total-monto">-$596</div>
            <div class="total-etiqueta">Total</div>
            <div class="total-monto">$8955</div>
            <input type="button" id="comprar" name="comprar" value="Comprá">
        </div>
    </div>
    </main>
    <footer>
        <article class="small-footer">
            <ul>
                <a href="#"><li>PRODUCTOS</li></a>
                <a href="#"><li>CONTACTO</li></a>
                <a href="#"><li>BLOG</li></a>
            </ul>
        </article>
        <article class="small-footer">
            <ul>
                <a href="#"><li>OFERTAS</li></a>
                <a href="#"><li>ENVIOS</li></a>
                <a href="#"><li>TÉRMINOS</li></a>
            </ul>
        </article>
        <article class="small-footer-spacer">

        </article>
        <article class="big-footer">
            <!-- <div class="social-subscribe"> -->
                <h4>Mantenete al tanto</h4>
                <section class="footer-social">
                    <a href="//"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="//"><i class="fa-brands fa-instagram"></i></a>
                    <a href="//"><i class="fa-brands fa-twitter"></i></a>
                    <a href="//"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="//"><i class="fa-brands fa-youtube"></i></a>
                </section>
                <div id="suscribite">
                    <input type="email" id="email" name="foto-usuario" placeholder="Correo electrónico">
                    <input type="button" id="subscribir" name="subscribir" value="Unite">
                </div>
            <!-- </div> -->
        </article>
        <article class="copyright">
            <p id="copyright">© 2022 Librería G10</p>
        </article>
    </footer>
</body>

</html>