<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <div id="product-list">
                    <h3>Tus productos en venta</h3>
                    <div id="search-bar">
                        <form id="search-form" action="/unknown" method="post">
                            <input id="filtro" type="text" value="Búsqueda por autor, título o editorial"
                                name="busqueda">
                            <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
                        </form>
                    </div>
                    <table id="product-list-table">
                        <tr>
                            <th class="titulo">Título</th>
                            <th class="autor">Autor</th>
                            <th class="precio">Precio</th>
                            <th class="stock">Stock</th>
                            <th class="editar">Acción</th>
                        </tr>
                        <tr class="content">
                            <td>El señor de los anillos: la comunidad del anillo</td>
                            <td>J.R.R. Tolkien</td>
                            <td class="precio">$5,900</td>
                            <td class="stock">10</td>
                            <td class="editar"><i class="fa-solid fa-pen"></i> <i class="fa-solid fa-trash-can"></i>
                            </td>
                        </tr>
                        <tr class="content">
                            <td>El señor de los anillos: las dos torres</td>
                            <td>J.R.R. Tolkien</td>
                            <td class="precio">$5,900</td>
                            <td class="stock">10</td>
                            <td class="editar"><i class="fa-solid fa-pen"></i> <i class="fa-solid fa-trash-can"></i>
                            </td>
                        </tr>
                        <tr class="content">
                            <td>El señor de los anillos: el retorno del rey</td>
                            <td>J.R.R. Tolkien</td>
                            <td class="precio">$5,900</td>
                            <td class="stock">10</td>
                            <td class="editar"><i class="fa-solid fa-pen"></i> <i class="fa-solid fa-trash-can"></i>
                            </td>
                        </tr>
                        <tr class="content">
                            <td>El señor de los anillos: el retorno del rey</td>
                            <td>J.R.R. Tolkien</td>
                            <td class="precio">$5,900</td>
                            <td class="stock">10</td>
                            <td class="editar"><a href="/product/edit" <i class="fa-solid fa-pen"></i></a> <a
                                    href="/product/delete" <i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>